<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logo2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="maincss.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="/stylesheets/c.css">
    <title>Thecoder</title>
</head>
<body>
    <section class="cquestion background">
        <div class="que-heder">
            <h2 class="c-heder">All Question about C++</h1>
        </div>
        <!-- question no.1 -->
        <div class="question">
            <h2 class="dsa-que">Print Hello world?</h2>
            <div class="c-dsaq">
                <p class="view">View codes :-</p>
                <a href="https://www.onlinegdb.com/online_c_compiler">
                    <button class="que-button">view</button>
                </a>
            </div>
            <div class="c-dsaq">
                <p class="view">Go on compiler :-</p>
                <a href="https://www.onlinegdb.com/online_c_compiler">
                    <button class="que-button">compiler</button>
                </a>
            </div>  
        </div>

        <!-- question no.1 -->
        <div class="question">
            <h2 class="dsa-que">Sum tow number?</h2>
            <div class="c-dsaq">
                <p class="view">View codes :-</p>
                <a href="https://www.onlinegdb.com/online_c_compiler">
                    <button class="que-button">view</button>
                </a>
            </div>
            <div class="c-dsaq">
                <p class="view">Go on compiler :-</p>
                <a href="https://www.onlinegdb.com/online_c_compiler">
                    <button class="que-button">compiler</button>
                </a>
            </div>  
        </div>

        <!-- question no.1 -->
        <div class="question">
            <h2 class="dsa-que">Make a calculator? </h2>
            <div class="c-dsaq">
                <p class="view">View codes :-</p>
                <a href="https://www.onlinegdb.com/online_c_compiler">
                    <button class="que-button">view</button>
                </a>
            </div>
            <div class="c-dsaq">
                <p class="view">Go on compiler :-</p>
                <a href="https://www.onlinegdb.com/online_c_compiler">
                    <button class="que-button">compiler</button>
                </a>
            </div>  
        </div>
    </section>
<script src="mainjs.js"></script>
</body>
</html>