<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/maincss.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <link rel="stylesheet" href="/stylesheets/buttom.css">
    <link rel="shortcut icon" href="logo2.jpg" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <!-- here i start card function -->
<section class="card-body" id="codes">
    <div class="card">
        <div class="image">
            <img src="https://seeklogo.com/images/C/c-language-logo-CE0F92E683-seeklogo.com.png" alt="c with dsa">
        </div>
        <div class="text">
            <h2 class="heder">C Language</h2>
            <p class="para-text">C language Notes</p>
            <a href="/cnotes">
            <button class="card-buttom">Click here</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="https://static.vecteezy.com/system/resources/previews/012/697/300/original/3d-c-programming-language-logo-free-png.png" alt="c with dsa">
        </div>
        <div class="text">
            <h2 class="heder">C++</h2>
            <p class="para-text">C++ Notes</p>
            <a href="/cppnotes">
            <button class="card-buttom">Click here</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="https://a0.anyrgb.com/pngimg/1690/872/primitive-data-type-language-contact-yukihiro-matsumoto-study-java-logo-scala-objectoriented-programming-data-structure-oracle-software-framework.png" alt="c with dsa">
        </div>
        <div class="text">
            <h2 class="heder">Java</h2>
            <p class="para-text">Java Notes</p>
            <a href="/javanotes">
            <button class="card-buttom">Click here</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="https://seeklogo.com/images/C/c-language-logo-CE0F92E683-seeklogo.com.png" alt="c with dsa">
        </div>
        <div class="text">
            <h2 class="heder">C Question</h2>
            <p class="para-text">All Question of C language</p>
            <a href="/ccode">
            <button class="card-buttom">Click here</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="https://static.vecteezy.com/system/resources/previews/012/697/300/original/3d-c-programming-language-logo-free-png.png" alt="c with dsa">
        </div>
        <div class="text">
            <h2 class="heder">C++ Question</h2>
            <p class="para-text">All Question of C++</p>
            <a href="cppcode">
            <button class="card-buttom">Click here</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="image">
            <img src="https://a0.anyrgb.com/pngimg/1690/872/primitive-data-type-language-contact-yukihiro-matsumoto-study-java-logo-scala-objectoriented-programming-data-structure-oracle-software-framework.png" alt="c with dsa">
        </div>
        <div class="text">
            <h2 class="heder">Java Question</h2>
            <p class="para-text">All Question of Java</p>
            <a href="javacode">
            <button class="card-buttom">Click here</button>
            </a>
        </div>
    </div>
</section>

</body>
</html>