<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Coder</title>
    <link rel="stylesheet" href="/stylesheets/maincss.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <link rel="stylesheet" href="/stylesheets/buttom.css">
    <link rel="shortcut icon" href="logo2.jpg" type="image/x-icon">
    
</head>
<body>
<section>
    <div class="background fristSection">
    <div class="box-main">
        <div class="firstHalf">
           <h1 class="text-big">Learn About <span class="auto-input"></span></h1>
           <p  class="text-small">The Ultimate Guide To Ace
            SDE Interviews.</p>
            
           <div class="box-centernar">
            <a href="/project">
            <button class="btn1">View Project</button>
        </a>
            <a href="/resume">
           <button class="btn2">Resume</button>
        </a>
        </div>
        </div>
        
        <div class="secondHalf">
            <img src="/images/moj.png" alt="">
        </div>
    </div>
</div>
</section>

<!-- here i start why function -->
<div class="why">
    <h2 class="thecoder">
        Why thecoder ?
    </h2>
    <p class="paragraph">
        Making learning easier and more convenient for you.
    </p>
</div>


<!-- <section class="about" id="about">
    <h2 class="about-hed">About</h2>
    <div class="about-box">
        <div class="about text">
            <h3 class="about-name1">Hello, my name is</h3>
            <h2 class="about-heder">Sachin kumar</h2>
            <h3 class="about-name2">I'am a Coder & Developer</h3>
           <p id="about-text">
            i am a front-end web developer. I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations. A responsive design makes your website acdenssible to all users, regardess of their device.
        </p>
        </div>
        <div class="about-img">
            <div class="ab-img">
                <img src="sachin.jpg" alt="">
            </div>
        </div>
    </div>

</section> -->


<!-- footer -->
<footer class=" foter background">
    <p class="text-footer">
        copyright &copy; 2023 www.thecoder.my-style.in- All rights reserved
    </p>
</footer>
<script src="/javascripts/mainjs.js"></script>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed=new Typed(".auto-input",{
        strings:["DSA","JAVA","C++","PYTHON"," C "],
        typedSpeed:80000,
        backSpeed:100,
        loop:true
    })
</script>
</body>
</html>