<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thecoder</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="box1 background">
        <form action="/login" method="post">
        <div class="box2">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="User-name" class="input">
            <input type="password" name="password" placeholder="password" class="input">
            <div class="box3">
                <input type="checkbox" class="checkbox">
                <a href="">forget password</a>
            </div>
            <button class="btn">Login</button>
        </form>
        <a href="/register">Register Here !</a>
        </div>
    
    </div>
</body>
</html>