<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <link rel="shortcut icon" href="logo2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/maincss.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
    <title>The Coder</title>
</head>
<body>

    <div class="pro-text background">
        <h1 class="pr-text">My All Project</h1>
    </div>
    <section class="project background">


    <div class="pro-question">
            <h4 class="question">DSA project .</h4>
        <div class="que-box">
            <p class="pro-para"> view codes :-</p>
            <a href="https://docs.google.com/document/d/1--MqsJB-iH-9z4BncRmFI3wMgYvHsd7ObDU5fc576Lw/edit?usp=sharing">
                <button class="ans-buttom">view</button>
            </a>
        </div>
        <div class="que-box">
            <p class="pro-para"> download exe file :-</p>
            <a href="https://drive.google.com/file/d/1oA2FMFPcO7Vx9bFJXUPOS-t0sxvGc8DT/view?usp=sharing">
                <button class="ans-buttom">download</button>
            </a>
        </div>    
    </div>


    <div class="pro-question">
        <h4 class="question">Mini ATM project.</h4>
    <div class="que-box">
        <p class="pro-para"> view codes :-</p>
        <a href="https://docs.google.com/document/d/1DAdKGMghrKNAVNasV4j6iGCUywOwl6axb1NOevwt_Og/edit?usp=sharing">
            <button class="ans-buttom">view</button>
        </a>
    </div>
    <div class="que-box">
        <p class="pro-para"> download exe file :-</p>
        <a href="https://drive.google.com/file/d/1T7p4fI9L3q9jHh4aAuvKbTYIfSfVOLo7/view?usp=sharing">
            <button class="ans-buttom">download</button>
        </a>
    </div>    
</div>


    <div class="pro-question">
            <h4 class="question">All Arithmetic formula project.</h4>
        <div class="que-box">
            <p class="pro-para"> view codes :-</p>
            <a href="https://docs.google.com/document/d/1DAdKGMghrKNAVNasV4j6iGCUywOwl6axb1NOevwt_Og/edit?usp=sharing">
            <button class="ans-buttom">view</button>
            </a>
    </div>
    <div class="que-box">
        <p class="pro-para"> download exe file :-</p>
        <a href="https://drive.google.com/file/d/1o9i1KVc_3i32uzUbjxsypMz1zlJ0Nhma/view?usp=sharing">
        <button class="ans-buttom">download</button>
        </a>
    </div>    
 </div>

 <div class="pro-question">
    <h4 class="question">Array project in c language</h4>
<div class="que-box">
    <p class="pro-para"> view codes :-</p>
    <a href="https://docs.google.com/document/d/1pjhUTrCLNlAleQb7l-g35LyHrEJRh8cHONYeYVkGm6g/edit?usp=sharing">
        <button class="ans-buttom">view</button>
    </a>
</div>
<div class="que-box">
    <p class="pro-para"> download exe file :-</p>
    <a href="https://drive.google.com/file/d/1D-9uiU_T57-oIHcip__GIQxdbZJlQ6ok/view?usp=sharing">
        <button class="ans-buttom">download</button>
    </a>
</div>    
</div>

<div class="pro-question">
    <h4 class="question">Queue project in c language.</h4>
<div class="que-box">
    <p class="pro-para"> view codes :-</p>
    <a href="https://docs.google.com/document/d/1DR-oZCFPqQPZq2EEjlOSXd0YM5p4UvZwyz_cUSdaNng/edit?usp=sharing">
        <button class="ans-buttom">view</button>
    </a>
</div>
<div class="que-box">
    <p class="pro-para"> download exe file :-</p>
    <a href="https://drive.google.com/file/d/11Yq5CdGYQ7b4dHYjezqlVldjLkFr-Rj2/view?usp=drivesdk">
        <button class="ans-buttom">download</button>
    </a>
</div>    
</div>

    </section>

    <!-- footer -->
<footer class=" foter background">
    <p class="text-footer">
        copyright &copy; 2023 www.thecoder.my-style.in- All rights reserved
    </p>
</footer>
<script src="mainjs.js"></script>
</body>
</html>