<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thecoder</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="stylesheet" href="/stylesheets/display.css">
</head>
<body>
    <div class="box1 background">
        <form action="/register" method="post">
        <div class="box2">
            
            <h1>Register</h1>
    
            <input type="text" name="fullname" placeholder="Full-name" class="input"require="true">
            <input type="text" name="username" placeholder="User-name" class="input"require="true">
            <input type="password" name="password" placeholder="password" class="input"require="true">
            <input type="text" name="phoneno" placeholder="Phone-Number" class="input"require="true">
            <input type="text" name="email" placeholder="Email-Id" class="input"require="true">
            <div class="box3">
                <input type="checkbox" class="checkbox"require="true">Remember Me
            </div>
            <button class="btn">Register</button>
          </form>
        <a href="/login">Login Here !</a>
        </div>
        
        
    </div>
</body>
</html>